/* Text Styles */

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3rem;
}

h2 {
    font-family: 'Prata', serif;
    font-size: 2.25rem;
}

h3 {
    font-family: 'News Cycle', sans-serif;
    font-size: 2rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
}

.landingtext {
    color: #ffffff;
}

.text-color-white {
    color: #ffffff;
}

.text-color-black {
    color: #000000;
}

.about h2 {
    color: #000000;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
}

.aboutlg h2 {
    color: #eba092;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
}

.about p {
    font-size: 1rem;
    color: #ffffff;
}

.aboutlg p {
    font-size: 1rem;
    color: #ffffff;
}

.threeboxes a {
    color: #eba092;
    background-color: white;
    padding: 10px 60px;
}

.threeboxes a:hover {
    color: #ffffff;
    background-color: #eba092;
    text-decoration: none;
}

.extras a {
    color: #ffffff;
}

.extras a:hover {
    color: #000000;
    text-decoration: none;
}

/* Containers */

.borderbottom {
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    border-bottom-width: thin;
}

.container {
    padding-top: 60px;
    padding-bottom: 40px;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.w-100 {
    max-height: 800px;
    margin-bottom: 50px;
}

/* Navigation */

.navbar-custom .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 4px;
    border-bottom: none;
    transition-property: border;
    transition-duration: 0.25s;
    font-size: 1rem;
}

.navbar-custom .nav-link:hover {
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    border-bottom-width: thick;
    padding: 4px;
    color: #eba092;
}

.navbar-brand {
    object-fit: cover;
}

.currentpage {
    font-weight: 300i;
    color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #eba092;
}

.dropdown-menu {
    background-color: #ffffff;
    margin: 0px 5px 0px 5px;
    font-family: 'Roboto', sans-serif;  
    border: none;
    border-radius: 0px;
}

.dropdown-item {
    font-size: 1rem;
    color: #f4cbc4;
}

.dropdown-item:hover {
    color: #eba092;
    background-color: inherit;
    font-style: italic;
}

.navbar-custom {
    background-color: #f4cbc4;
    padding-left: 15px;
}

.navbar-collapse {
    padding-left: 10px;
}

/* Images */

img {
    object-fit: cover;
}

.logoheader {
    object-fit: cover;
}

/* Cards */

.card {
    border: none;
    border-radius: 0;
}

.featured {
    border: none;
    border-radius: 0px;
    padding: 0px;
    height: 400px;
}

.card-group {
    padding: 0px;
    margin: 0px;  
}

.card-img-overlay {
    align-content: center;
    padding-top: 175px;
    opacity: 1;
}

.card-img-overlay .featured:hover {
    opacity: 0.8;
    background-color: white;
}

.card-text {
    opacity: 1;
    color: #eba092;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-text:hover {
    background-color: #eba092;
}

.medium .card-text{
    opacity: 1;
    color: #eba092;
    background-color: #000000;
}

.landing .card-img-overlay:hover  {
    opacity: 0.1;
}

/* Buttons */

.mybtn {
    border-style: solid;
    border-width: thin;
    border-color: #ffffff;
    border-radius: 0;
    padding: 5px 10px 5px 10px;
    margin: 0px;
    font-family: 'News Cycle', sans-serif;
}

.btn-link {
    color: #ffffff;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: none;
    color: #5fc5dd;
    opacity: 0.6;
}

.mybtn:hover {
    background-color:#ffffff;
    border-color: #bfe6f0;
}

.btn {
    width: 19%;
}

a {
    color: white;
    text-decoration: none;
}

/* Backgrounds */

.bg1 {
    background-color: #f4cbc4;
}

/* Social Media Icons */

.fab {
    color: #eba092;
}

/* Secondary Menu Choices */

.choices {
    font-family: 'Roboto', sans-serif;
    background-color: #eba092;
    text-align: center;
    padding: 10px;
    margin: 5px 10px;
}

.extras {
    margin-top: 20px;
}

.extraslg {
    padding-bottom: 0px;
    margin: 0px;
    font-size: 1.5rem;
}

/*Tablet Instagram Collage Styles */

.sidebar-collage.medium {
    margin-left: 4px;
    height: 125px;
    width: 100%;
    padding: 0px 6px;
    overflow: hidden;
    object-fit: cover;
}

.img-thumbnail.medium {
    width: 33%;
    height: 125px;
    border-style: none;
    padding: 2px;
    margin: 0px;
    border-radius: 0px;
}

/* Testimonial Mobile */

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    z-index: 2;
    position: relative;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}

.testimonialtext {
    justify-content: center;
    background-color: #f4cbc4;
    border-style: double;
    border-color: white;
    padding: 0px;
    position: absolute;
    width: 100%;
    top: 1715px;
    height: 250px;
    display: block;
    z-index: 1;  
}

.extrapad {
    padding-top: 10px;
}

.testimonialtext p {
    text-align: center;
    margin-top: 105px;
    color: #ffffff;
    font-family: 'News Cycle', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.testimonialtext h1 {
    text-align: center;
    font-size: 2rem;
    color: #f4cbc4;
}

/* Testimonial Tablet */

.img-circle.medium {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    z-index: 2;
    position: relative;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}

.testimonialtext.medium {
    padding-top: 0px;
    justify-content: center;
    background-color: #eba092;
    border-style: solid;
    border-width: 20px;
    position: absolute;
    width: 100%;
    top: 1400px;
    height: 270px;
    display: block;
    z-index: 1;
}

.testimonialtext.medium p {
    padding: 5px 100px;
    font-size: 1.2rem;
}

/* Footer */

footer{
    position: relative;
    z-index: 1;
    top: 150px;
}

.instagramsquares {
    width: 25%;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 10px;
}

.instagramsquares.lg {
    width: 18.60%;
    display: inline-block;
    margin-bottom: 1px;
    height: 100px;
    width: 102px;
}

.squares {
    margin: 0px;
    padding-bottom: 5px;
    margin-right: 0px;
    padding-left: 3px;
    padding-right: 2px;
}

.squareslg {
    margin: 0px;
    padding-bottom: 5px;
    margin-right: 0px;
    padding-left: 3px;
    padding-right: 2px;
}

.btn-grp {
    background-color: #f4cbc4;
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
}

.btn-primary {
    background-color: #f4cbc4;
    border-style: none;
    width: 19%;
}

.btnprimarylg {
    width: 19.73%;
    border-style: none;
    background-color: #f4cbc4;
}

.btn-primary:hover {
    border: none;
    background-color: #ffffff;
    border-radius: 0;
}

.img-thumbnail {
    width: 24%;
    height: 100px;
    border-style: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

.img-thumbnail:hover {
    opacity: 0.3;
}

/* Avatar */

.avatar img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
}

.aboutme {
    background-color: #ffffff;
    color: #f4cbc4;
    width: 100%;
    padding: 30px;
    margin-top: 10px;
    border-style: solid;
    border-width: thick;
    border-color: #000000;
}

.aboutme p { 
    color: #000000;
}

.aboutme li {
    color: #000000;
    list-style: none;
    margin-bottom: 10px;
}

.aboutme h1 {
    text-decoration: underline;
    text-decoration-color: #f4cbc4;
    font-size: 2.7rem;
    text-align: center;
}

.aboutme h3 {
    text-align: center;
}

/* Investment */

.card-text.sessions {
    margin: 10px;
    align-content: center;
    color: #000000;
    font-family: 'News Cycle', sans-serif;
    font-size: 1.3rem;
}

.sessions li {
    list-style: inside circle;
    text-align: left;
    margin: 0px 0px;
}

.card-title {
    color: #f4cbc4;
    align-content: center;
}

.card-body {
    text-align: center;
}

.card-text:hover {
    background-color: #ffffff;
}

.card-text  {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #eba092;
}

/* About Medium */

.card-text.about {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    opacity: 0;
    height: 300px;
    transform: translateY(-125px);
}

.card-text.aboutlg {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    opacity: 0;
    height: 400px;
    transform: translateY(-125px);
}

.card-text.aboutlg p {
    padding-top: 25px;
    font-size: 1.3rem;
    color: #000000;
}

.about.card-img-overlay:hover .card-text {
    opacity: 1;
    height: 100%;
    align-content: flex-start;
    padding: 20px 25px 25px 25px;
    margin: 10px 0px 0px 0px;
    height: 450px;
}

.aboutlg.card-img-overlay:hover .card-text {
    opacity: 1;
    height: 100%;
    align-content: flex-start;
    padding: 25px 25px 25px 25px;
    margin: 10px 0px 0px 0px;
    height: 450px;
}

.card-img.about {
    height: 528px;
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 0;
}

.card-img.aboutlg {
    height: 563px;
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 0;
}

/* Gallery */

.gallery .thumbnail {
    width: 24%;
    height: 355px;
    margin: 2px;
}

.gallery {
    margin: 10px;
}

/* Copyright */

.copyright {
    margin-bottom: 5px;
    background-color: #eba092;
    text-align: center;
    color: #ffffff;
    width: 100%;
}

