/* Text Styles */

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3rem;
}

h2 {
    font-family: 'Prata', serif;
    font-size: 2.25rem;
}

h3 {
    font-family: 'News Cycle', sans-serif;
    font-size: 2rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
}

.landingtext {
    color: #ffffff;
}

.text-color-white {
    color: #ffffff;
}

.text-color-black {
    color: #000000;
}

/* Containers */

.borderbottom {
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    border-bottom-width: thin;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

/* Navigation */

.navbar-custom .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 4px;
    border-bottom: none;
    transition-property: border;
    transition-duration: 0.25s;
    font-size: 1rem;
}

.navbar-custom .nav-link:hover {
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    border-bottom-width: thick;
    padding: 4px;
    color: #eba092;
}

.navbar-brand {
    object-fit: cover;
}

.currentpage {
    font-weight: 300i;
    color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #eba092;
}

.dropdown-menu {
    background-color: #ffffff;
    margin: 0px 5px 0px 5px;
    font-family: 'Roboto', sans-serif;  
    border: none;
    border-radius: 0px;
}

.dropdown-item {
    font-size: 1rem;
    color: #f4cbc4;
}

.dropdown-item:hover {
    color: #eba092;
    background-color: inherit;
    font-style: italic;
}

.navbar-custom {
    background-color: #f4cbc4;
    padding-left: 15px;
}

.navbar-collapse {
    padding-left: 10px;
}

/* Images */

img {
    object-fit: cover;
}

.logoheader {
    object-fit: cover;
    padding-top: 20px;
    padding-bottom: 5px;
}

/* Cards */

.card {
    border: none;
    border-radius: 0;
}

.featured {
    border: none;
    border-radius: 0px;
    padding: 0px;
    height: 400px;
}

.card-group {
    padding: 0px;
    margin: 0px;  
}

.card-img-overlay {
    align-content: center;
    padding-top: 175px;
    opacity: 1;
}

.card-img-overlay .featured:hover {
    opacity: 0.8;
    background-color: white;
}

.card-text {
    opacity: 1;
    color: #ffffff;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.medium .card-text{
    opacity: 1;
    color: #eba092;
    background-color: #000000;
}

.landing .card-img-overlay:hover  {
    opacity: 0.1;
}

/* Buttons */

.mybtn {
    border-style: solid;
    border-width: thin;
    border-color: #ffffff;
    border-radius: 0;
    padding: 5px 10px 5px 10px;
    margin: 0px;
    font-family: 'News Cycle', sans-serif;
}

.btn-link {
    color: #ffffff;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: none;
    color: #5fc5dd;
    opacity: 0.6;
}

.mybtn:hover {
    background-color:#ffffff;
    border-color: #bfe6f0;
}

a {
    color: white;
    text-decoration: none;
}
/* Backgrounds */

.bg1 {
    background-color: #f4cbc4;
}

/* Social Media Icons */

.fab {
    color: #eba092;
}

/* Secondary Menu Choices */

.choices {
    font-family: 'Roboto', sans-serif;
    background-color: #f4cbc4;
    text-align: center;
    padding: 10px;
    margin: 5px 10px;
}

.extras {
    margin-top: 20px;
}

/*Tablet Instagram Collage Styles */

.sidebar-collage.medium {
    margin-left: 4px;
    height: 125px;
    width: 100%;
    padding: 0px 6px;
    overflow: hidden;
    object-fit: cover;
}

.img-thumbnail.medium {
    width: 33%;
    height: 125px;
    border-style: none;
    padding: 2px;
    margin: 0px;
    border-radius: 0px;
}

/* Testimonial Mobile */

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    z-index: 2;
    position: relative;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}

.testimonialtext {
    padding-top: 20px;
    justify-content: center;
    background-color: #eba092;
    border-style: double;
    border-color: white;
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 1630px;
    height: 350px;
    display: block;
    z-index: 1;
    
}

.extrapad {
    padding-top: 10px;
}

.testimonialtext p {
    text-align: center;
    margin-top: 125px;
    color: #ffffff;
    font-family: 'News Cycle', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.testimonialtext h1 {
    text-align: center;
    font-size: 2rem;
    color: #f4cbc4;
}

/* Testimonial Tablet */

.img-circle.medium {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    z-index: 2;
    position: relative;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}

.testimonialtext.medium {
    padding-top: 20px;
    justify-content: center;
    background-color: #eba092;
    border-style: double;
    border-color: white;
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 1500px;
    height: 350px;
    display: block;
    z-index: 1;
}

/* Footer */

footer{
    position: relative;
    z-index: 1;
    top: 250px;
}

.instagramsquares {
    width: 24%;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 10px;
}

.squares {
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 5px;
    margin-right: 0px;
    padding-left: 3px;
    padding-right: 2px;
}

.btn-grp {
    background-color: #f4cbc4;
    padding-top: 0px;
    margin-top: 0px;
}

.btn-primary {
    background-color: #f4cbc4;
    border-style: none;
    width: 19%;
}

.img-thumbnail {
    width: 24%;
    height: 100px;
    border-style: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}

/* Avatar */

/* Grid */

.grid {
    display: grid;
    grid-gap: 2px 2px;
    background-color: white;
}

.box1 {
    grid-area: 1 / 1 / 2 / 2;
    height: 10%;
}

.box2 {
    grid-area: 1 / 2 / 2 / 3;
}

.box3 {
    grid-area: 1 / 3 / 2 / 4;
}

.box4 {
    grid-area: 1 / 4 / 2 / 5;
}

.box5 {
    grid-area: 2 / 1 / 3 / 3;
    height: 100%;
}

.box6 {
    grid-area: 2 / 3 / 3 / 5;
}

.box7 {
    grid-area: 3 / 1 / 4 / 2;
    height: 100%;
}

.box8 {
    grid-area: 3 / 2 / 4 / 3;
}

.box9 {
    grid-area: 3 / 3 / 4 / 4;
}

.box10 {
    grid-area: 3 / 4 / 4 / 5;
}

.box11 {
    grid-area: 4 / 1 / 5 / 3;
}

.box12 {
    grid-area: 4 / 3 / 5 / 5;
    height: 100%;
}

.box13 {
    grid-area: 6 / 1 / 7 / 2;
}

.box14 {
    grid-area: 5 / 1 / 6 / 2;
}

.box15 {
    grid-area: 5 / 2 / 7 / 5;
    height: 100%;
}

